:root {
  /* colors */
  --s-color-white: #ffffff;
  --s-color-black: #000000;
  --colors: (primary: #409eff, success: #67c23a, warning: #e6a23c, danger: #f56c6c, info: #909399);
  @each $val, $color in (primary, sucess), (#409eff, #67c23a) {
    --s-color-1-$(val): $(color);
    @for $i from 3 to 9 by 2 {
      --s-color-$(val)-light-$(i): mix(#fff, $(color), .$(i));
    }
    --s-color-$(val)-light-8: mix(#fff, $(color), 0.8);
    --s-color-$(val)-dark-2: mix(#000, $(color), 0.2);
  }
  /* --s-color-primary: #409eff;
  --s-color-primary-light-3: #79bbff;
  --s-color-primary-light-5: #a0cfff;
  --s-color-primary-light-7: #c6e2ff;
  --s-color-primary-light-8: #d9ecff;
  --s-color-primary-light-9: #ecf5ff;
  --s-color-primary-dark-2: #337ecc;
  --s-color-success: #67c23a;
  --s-color-success-light-3: #95d475;
  --s-color-success-light-5: #b3e19d;
  --s-color-success-light-7: #d1edc4;
  --s-color-success-light-8: #e1f3d8;
  --s-color-success-light-9: #f0f9eb;
  --s-color-success-dark-2: #529b2e;
  --s-color-warning: #e6a23c;
  --s-color-warning-light-3: #eebe77;
  --s-color-warning-light-5: #f3d19e;
  --s-color-warning-light-7: #f8e3c5;
  --s-color-warning-light-8: #faecd8;
  --s-color-warning-light-9: #fdf6ec;
  --s-color-warning-dark-2: #b88230;
  --s-color-danger: #f56c6c;
  --s-color-danger-light-3: #f89898;
  --s-color-danger-light-5: #fab6b6;
  --s-color-danger-light-7: #fcd3d3;
  --s-color-danger-light-8: #fde2e2;
  --s-color-danger-light-9: #fef0f0;
  --s-color-danger-dark-2: #c45656;
  --s-color-info: #909399;
  --s-color-info-light-3: #b1b3b8;
  --s-color-info-light-5: #c8c9cc;
  --s-color-info-light-7: #dedfe0;
  --s-color-info-light-8: #e9e9eb;
  --s-color-info-light-9: #f4f4f5;
  --s-color-info-dark-2: #73767a; */

  --s-bg-color: #ffffff;
  --s-bg-color-page: #f2f3f5;
  --s-bg-color-overlay: #ffffff;
  --s-text-color-primary: #303133;
  --s-text-color-regular: #606266;
  --s-text-color-secondary: #909399;
  --s-text-color-placeholder: #a8abb2;
  --s-text-color-disabled: #c0c4cc;
  --s-border-color: #dcdfe6;
  --s-border-color-light: #e4e7ed;
  --s-border-color-lighter: #ebeef5;
  --s-border-color-extra-light: #f2f6fc;
  --s-border-color-dark: #d4d7de;
  --s-border-color-darker: #cdd0d6;
  --s-fill-color: #f0f2f5;
  --s-fill-color-light: #f5f7fa;
  --s-fill-color-lighter: #fafafa;
  --s-fill-color-extra-light: #fafcff;
  --s-fill-color-dark: #ebedf0;
  --s-fill-color-darker: #e6e8eb;
  --s-fill-color-blank: #ffffff;

  /* border */
  --s-border-width: 1px;
  --s-border-style: solid;
  --s-border-color-hover: var(--s-text-color-disabled);
  --s-border: var(--s-border-width) var(--s-border-style) var(--s-border-color);
  --s-border-radius-base: 4px;
  --s-border-radius-small: 2px;
  --s-border-radius-round: 20px;
  --s-border-radius-circle: 100%;

  /*font*/
  --s-font-size-extra-large: 20px;
  --s-font-size-large: 18px;
  --s-font-size-medium: 16px;
  --s-font-size-base: 14px;
  --s-font-size-small: 13px;
  --s-font-size-extra-small: 12px;
  --s-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --s-font-weight-primary: 500;

  /*disabled*/
  --s-disabled-bg-color: var(--s-fill-color-light);
  --s-disabled-text-color: var(--s-text-color-placeholder);
  --s-disabled-border-color: var(--s-border-color-light);
}
